.sliderDisplay {
  composes: width from 'sharedStyles/styles.css';
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider {
  border: #ccc;
  padding: 10;
}

.span {
  padding: 10;
  align-items: center;
}
