.selector {
  /*width: 35%;*/
  composes: width from 'sharedStyles/styles.css';
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0 !important;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  background: #0d98e8 url(./drop-down-arrow.png) no-repeat right center;
  background-size: 40px 37px;
}
