.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*margin-top: 50px;*/
  /*background-color: #3f5175;*/
  /*border-radius:5px;*/
  /*width : 900px;*/
  /*box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);*/
}

.rowDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.render {
  composes: label-font-size from 'sharedStyles/styles.css';
  background: #3b5998;
  color: #a4b2ce;
  padding: 10px 15px;
  border: 0px;
  border-radius: 5px;
  box-shadow: none;
}

.render:hover {
  color: #fff;
}

.label {
  composes: label-font-size from 'sharedStyles/styles.css';
  composes: label-font-color from 'sharedStyles/styles.css';
  margin: 0;
}
