html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  /*background-color: #2c313b;*/

}

.container {
  width: 100%;
}

.innerContainer {
  /*width: 1000*/
  max-width: 900px;
  margin: 0px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: rgb(0, 0, 0);*/
  background-color: #3f5175;
  color: #fff; /*rgb(125, 199, 244);*/
  /*padding: 5;*/
  padding-right: 10px;
  padding-left: 10px;
}

.link {
  background: tomato;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #5B1D0B;
  border-radius: 5px;
  color: #000;
}

.link:hover {
  color: #fff;
}
